.navbar {
  border-bottom: 2px solid #3292A6;
  background: rgba(255, 255, 255, 0.671); }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 15px; }
    .navbar .nav-item .nav-link {
      color: #252525; }
      .navbar .nav-item .nav-link:hover {
        color: #1ef591; }
    .navbar .nav-item:nth-child(4) {
      padding-right: 0rem; }

#showcase {
  background: url(../img/mountains.jpg) no-repeat top/cover;
  min-height: 700px;
  padding-top: 90px; }
  #showcase .overlay {
    background-color: rgba(0, 77, 90, 0.685);
    min-height: 700px; }

#meettheauthors img {
  margin-top: -60px;
  margin-bottom: 10px; }

#meettheauthors .fa {
  font-size: 28px;
  padding: 25px; }

#meettheauthors .card:hover {
  background: #3292A6;
  color: #fff; }
  #meettheauthors .card:hover .fa {
    color: #fff; }

#footer span a:hover {
  color: #fff !important; }

@media (max-width: 575px) {
  #showcase h1 {
    font-size: 60px; } }
